<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>

</head>
<body>

   <div id="app">
       <p>{{message}}</p>

       <input v-model="message">

       <ul>
           <li v-for="item in itemArray">
               {{item.name}}
           </li>
       </ul>
       <button v-on:click="clickButton">add go</button>

       <vuediv></vuediv>
       <my-component></my-component>
       <runoob></runoob>
    </div>



   <img src="resource/logo2.png" width="150" height="90" alt="logo图片">
   <h1>公司简介</h1>
   <hr noshade="noshade" size="1" color="gray"/>

   <h2>公司简介</h2>123123
   <p>
       <font size="5">“‘奢靡之始，危亡之渐。’</font>>不正之风离我们越远，群众就会离我们越近。”习近平总书记曾指出，在发展社会主义市场经济条件下，商品交换原则必然会渗透到党内生活中来，这是不以人的意志为转移的。社会上各种各样的诱惑缠绕着党员、干部，“温水煮青蛙”现象就会产生，一些人不知不觉就被人家请君入瓮了。对此，总书记强调，作风建设是攻坚战，也是持久战。
   </p>
   <p>
       “不矜细行，终累大德。”习近平总书记提出要求，同时率先垂范。2012年底，习近平任职总书记后首次的地方视察选择了深圳市。在视察期间，没有安排任何宴请，没有入住深圳迎宾馆的1号楼，而是选择了另一家酒店，入住了一间普通套房，吃饭也选择了自助餐。
   </p>
   <h3>公司简介</h3>
   <h4>公司简介</h4>
   <h5>公司简介</h5>
   <h6>公司简介</h6>

   <script src="main.js"></script>

</body>
</html>