<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>

</head>
<body>

   <!--<div id="app">-->
       <!--<p>{{message}}</p>-->

       <!--<input v-model="message">-->

       <!--<ul>-->
           <!--<li v-for="item in itemArray">-->
               <!--{{item.name}}-->
           <!--</li>-->
       <!--</ul>-->
       <!--<button v-on:click="clickButton">add go</button>-->

       <!--<vuediv></vuediv>-->
       <!--<my-component></my-component>-->
       <!--<runoob></runoob>-->
    <!--</div>-->



   <img src="resource/logo2.png" width="198" height="57" alt="logo图片">
   <img src="resource/header.png" >
   <h1>公司简介</h1>
   <hr noshade="noshade" size="1" color="gray"/>

    <table border="1" width="200px" height= "100" align="center" >
        <tr>
            <td>Hello</td>
            <td>Hlo</td>
            <td>HTC</td>
            <td>HTC</td>
        </tr>
        <tr>
            <td>Co</td>
            <td>Hp</td>
            <td>HC</td>
            <td>HC</td>
        </tr><tr>
            <td>Df</td>
            <td>GH</td>
            <td>KD</td>
            <td>KD</td>
        </tr>
    </table>

   <ul type="square">
       <li>Baigedu</li>
       <li>Badu</li>
       <li>Hleo</li>
   </ul>

   <ol>
       <li>
           <a href="#">
           GOOD

           </a>
       </li>
       <li>Raing</li>
       <li>Seller</li>
   </ol>

   <script src="main.js"></script>

</body>
</html>